html {
  font-size: 16px;
}

:root {
  --Java: #26C9C3;
  --JavaDark: #1a1249;
}

body {
  display: flex;
  justify-content: center;
}

/* base */

.wrapper {
  display: flex;
  gap: 0.7rem;
  padding: 1rem;
  align-items: center;
  border-radius: 0.25rem;
  background-color: var(--Java);
  position: relative;

  outline: 1px solid black;
}

.lock-icon {
  fill: var(--JavaDark);
  transition: 0.3s 0.15s;
  z-index: 10;
}

svg {
  overflow: visible;
}

#anchor  {
  position: absolute;
  top: 1.69rem;

    svg {
      stroke: transparent;
    }
}

.password-input {
  background-color: transparent;
  border: none;
  height: 2rem;
  font-size: 1.3rem;
  padding-left: 0.7rem;
  border-left: 1px solid white;
  z-index: 10;
  color: var(--JavaDark);
  transition: 0.2s;

  &::placeholder {
    color: var(--JavaDark);
  }

  &:focus {
    outline: 1px solid white;
  }
}

.wrapper::after {
  content: '';
  position: absolute;
  right: 0.9rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
  background-color: var(--JavaDark);
  transition: 0.3s;
}

.toggle-visibility {
  background-color: transparent;
  border: none;
  z-index: 10;
  cursor: pointer;
}

#eye-lid {
  transition: 0.2s ease;
  transform-origin: 55px 70px;
}

#pupil {
  transition: 0.2s;
  clip-path: ellipse(100% 100% at center bottom);
}

/* animation styles */

.wrapper[data-visible="true"]::after {
  height: 100%;
  width: 100%;
  right: 0;
  border-radius: 0.25rem;
}

.wrapper[data-visible="true"] .password-input {
  color: white;

  &::placeholder {
    color: white;
  }
}

.wrapper[data-visible="true"] .lock-icon {
  fill: var(--Java);
}

.wrapper[data-visible="true"] #eye-lid {
  transform: scaleY(-1);
}

.wrapper[data-visible="true"] #pupil {
  clip-path: ellipse(10px 0px at center bottom);
}